table,
td {
    border: 1px solid #000000;
    padding: 10px ;
    padding-left: 20px ;
    padding-right: 20px ;
}
table {
    border-collapse: collapse;
    border-left: dashed ;
    border-right: dashed;
    border-top: 2px solid;
    border-bottom: 2px solid;
    text-align: center;
    background-color: yellow;
}

